$google_blue: rgb(71, 133, 237);
$google_red: rgb(219, 50, 54);
$google_green: rgb(60, 186, 84);
$google_yellow: rgb(244, 194, 13);
$google_black: #595959;

.g_blue{
    color: $google_blue;
}
.g_red{
    color: $google_red;
}
.g_green{
    color: $google_green;
}
.g_yellow{
    color: $google_yellow;
}


.nav {
    overflow: hidden;
    margin: 10px;
    a{
        margin: 10px;
        color: black;
        font-size: 13px;
        float: right;
        font-family: sans-serif;
        text-align: center;
        text-decoration: None;
        &:hover{
            text-decoration: underline;
        }

    }
}

.logo{

    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 85px;  
}
.l-image{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    .image{
        position: relative;
        left: 100px;
        bottom: 15px;
    }
}

.search_box{
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    #icon-front{
        position: relative;
        top: 7px;
        color:#a6a6a6;
        left: 40px;
    }

    .icon-btn{
        position: relative;
        top: 7px;
        border: none;
        background-color: white;
        right: 50px;
    }

    #icon-back{
        color: $google_blue;
        &:hover{
            cursor: pointer;
        }
    }
        
    input{
        border: 1px solid #d9d9d9;
        font-size: 16px;
        border-radius: 25px;
        height: 40px;
        width: 550px;
        outline: none;
        text-indent:45px;
        &:hover{
            box-shadow: 0px 0px 3px #b3b3b3;
        }
    }
}
.search_btn{
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    >input{
        margin: 5px;
        height: 35px;
        width: 130px;
        font-size: 15px;
        color:#666666;
        border: none;
        border-radius: 5px;
        &:hover{
            border: 1px solid;
            border-color: #b3b3b3;
            cursor: pointer;
        }

    }
}
.advance-nav{
    margin:0;
    overflow: hidden;
    padding: 10px;
    background-color:#f2f2f2;

}
.nav-logo{
    font-family: sans-serif;
    font-size: 30px;
}
#logo-link{
    float: right;
    padding-right: 20px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body{
    margin:0;
}

.top-row{
    padding: 30px;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 20px;
    color: $google_red;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}
.second-row{

    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    >div{
        font-size: 16px;
        color: $google_black;
        font-family: sans-serif;

    }
    .left-col{
        padding-right: 630px;
    }

}

.form-container{
    margin-top: 5px;
    
        .input-container{
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            .front{
                margin-left: 40px;
                font-family: sans-serif;
                color: $google_black;
                width: 190px;
                height: 25px;
                padding-top: 5px;
                font-size: 15px;
            }
            input{
                width: 555px;
                height: 25px;
                &:focus{
                    border: 1px solid $google_blue;
                    outline: none;
                    box-shadow: 0px 0px 1px 0.5px #b3b3b3 inset;
                }
            }
            .back{
                margin-left: 20px;
                font-family: sans-serif;
                font-size: 15px;
                width: 380px;
                height: 25px;
                padding-top: 5px;
                color: $google_black;
            }

        }
        
}

#advanced-search-btn{
    margin-top: 30px;
    margin-left: 660px;
    >button{
        padding: 8px 10px;
        background-color: $google_blue;
        color: white;
        font-weight: bold;
        outline: 1px;
        border: none;
        &:hover{
            background-color: #1a75ff;
        }
    }
}